[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
sqlalchemy = "*"
roxene = {file = "src", editable = true}

[dev-packages]
pytest = "*"
parameterized = "*"
notebook = "*"
matplotlib = "*"
testcase = "*"

[requires]
python_version = "3.10"
