[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "2.13"
numpy = "*"
sqlalchemy = "*"
roxene = { path = "./src" }

[dev-packages]
pytest = "*"
parameterized = "*"
notebook = "*"
matplotlib = "*"
mlflow = "*"
testcase = "*"

[requires]
python_version = "3.10"
