[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
numpy = "==1.16.4"

[dev-packages]
pytest = "*"
parameterized = "*"

[requires]
python_version = "3.7"
